/* src/pages/About/About.css */

.about-page {
    display: flex;
    flex-direction: column;
    padding: 2rem 0; /* Espaçamento vertical */
  }
  
  .about-content {
      display: flex;
      flex-direction: column;
      gap: 10px; /*Espaçamento entre as tags*/
      border: 1px solid var(--dracula-border-color);
      padding: 2rem;
      border-radius: 5px;
      background-color: var(--dracula-background-light);
  }
  .about-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--dracula-cyan);
    text-align: center;
  }
  
  .about-content h2 {
    text-align: center;
    font-size: 1.8rem;
    margin: 0.5rem 0;
    color: var(--dracula-green);
  }
  
  .about-content p {
    margin-bottom: 1rem;
    line-height: 1.6; /* Espaçamento entre linhas */
  }
  
  .tech-icons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      flex-wrap: wrap; /* Quebra a linha se os ícones não couberem */
  }
  
  .github-link {
    display: inline-flex; /* Para alinhar o ícone com o texto */
    align-items: center; /* Alinha verticalmente */
    gap: 0.5rem; /* Espaço entre o ícone e o texto */
    color: var(--dracula-foreground);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 1px solid var(--dracula-border-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    margin: 0 auto;
    margin-top: 10px;
    width: 180px;
  }
  
  .github-link:hover {
    background-color: var(--dracula-cyan);
    color: var(--dracula-background);
  }